## Book Analysis

In [1]:
import numpy as np
import pandas as pd

# sqlite3 for storage of the dataset
import sqlite3
from contextlib import closing

In [2]:
# Setup SQLite Database to store data
database = 'Book_DB.db'
conn = sqlite3.connect(database)
c = conn.cursor()

In [6]:
# Find books on el_list that are also on ALA list
query1 = '''
SELECT * FROM el_list
WHERE el_list.title IN
(
SELECT DISTINCT ala_top_10_archive_clean.title
FROM ala_top_10_archive_clean
JOIN el_list
WHERE ala_top_10_archive_clean.title=el_list.title COLLATE NOCASE
)
ORDER BY el_list.title;
'''
#seting the dataframe width to max
pd.set_option('display.max_colwidth', None)
#running our query
pd.read_sql_query(query1, conn)

,index,updated,entry,ID,author,title,series,co_author,illustrators,challenge_type,...,city,county,school,library,police,book_status,links_1,links_2,links_3,links_4
0,247,None,2024-03-12 00:00:00,14824,"Maas, Sarah J.",A Court of Mist and Fury,A Court of Thorns and Roses,None,None,Formal,...,None,None,None,None,None,None,https://capcity.news/community/education-community/2024/01/30/award-winning-fiction-lgbtq-and-wizard-of-oz-these-18-books-in-lcsd1-libraries-are-suggested-to-be-sexually-explicit/,https://laramie1.sharepoint.com/:x:/g/Departments/Technology/IS/Eft4ci9EkE5JkowCW1dQL_YB1R6J-k2vE-6c2i46nyNhAg?e=gkaNMz,None,None
1,347,None,2024-02-20 00:00:00,14531,"Maas, Sarah J.",A Court of Mist and Fury,A Court of Thorns and Roses,None,None,Formal,...,None,None,None,None,None,None,https://docs.google.com/spreadsheets/d/e/2PACX-1vS6aiUybYmYhuJXiCCbRsm1G28Io8btn7dP1XQPAjXokBiyCcR_QwDV4ikdkc0-Iqk7Z_I5nuq0s20Q/pubhtml,None,None,None
2,511,None,2024-02-22 00:00:00,14695,"Maas, Sarah J.",A Court of Mist and Fury,A Court of Thorns and Roses,None,None,vInternal/Administrative Review,...,None,Seminole,None,None,None,None,https://oviedocommunitynews.org/2023/12/20/seminole-county-banned-books-list-reached-110-in-2023/,None,None,None
3,702,None,2024-04-29 00:00:00,14989,"Maas, Sarah J.",A Court of Mist and Fury,A Court of Thorns and Roses,None,None,Unclear,...,None,Rutherford,None,None,None,None,https://archive.ph/Snvxf,None,None,None
4,1605,None,2024-05-19 00:00:00,16707,"Maas, Sarah J.",A Court of Mist and Fury,None,None,None,Formal,...,Translyvania,None,None,None,None,None,https://www.transylvaniatimes.com/education/local-parents-file-complaints-for-six-books-on-school-shelves/article_1f57b45e-072e-11ef-af99-1fdb8c39ef6e.html,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2287,9274,None,None,6835,"Myracle, Lauren",ttyl,Internet Girls,None,None,Formal,...,None,None,None,None,Unknown,None,None,None,None,None
2288,9275,None,None,6836,"Myracle, Lauren",ttyl,Internet Girls,None,None,Formal,...,None,None,None,None,Unknown,None,None,None,None,None
2289,9276,None,None,6837,"Myracle, Lauren",ttyl,Internet Girls,None,None,Formal,...,None,St. Johns,None,None,Unknown,None,None,None,None,None
2290,9277,None,None,6838,"Myracle, Lauren",ttyl,Internet Girls,None,None,Formal,...,None,St. Johns,None,None,Unknown,None,None,None,None,None
2291,14204,None,2024-01-08 00:00:00,11793,"Myracle, Lauren",ttyl,Internet Girls,None,None,Internal/Administrative Review,...,None,Orange,None,None,None,None,https://www.orlandosentinel.com/2023/12/20/ocps-books/,https://truthout.org/articles/673-books-removed-from-orange-county-classrooms-to-comply-with-florida-laws/,None,None

In [7]:
# Find books on el_list that are on ALA list where years match
query2 = '''
SELECT * FROM el_list
JOIN ala_top_10_archive_clean
WHERE el_list.title=ala_top_10_archive_clean.title
AND el_list.year=ala_top_10_archive_clean.year
'''
pd.read_sql_query(query2, conn)

,index,updated,entry,ID,author,title,series,co_author,illustrators,challenge_type,...,police,book_status,links_1,links_2,links_3,links_4,year,title,author,reasons
0,347,None,2024-02-20 00:00:00,14531,"Maas, Sarah J.",A Court of Mist and Fury,A Court of Thorns and Roses,None,None,Formal,...,None,None,https://docs.google.com/spreadsheets/d/e/2PACX-1vS6aiUybYmYhuJXiCCbRsm1G28Io8btn7dP1XQPAjXokBiyCcR_QwDV4ikdkc0-Iqk7Z_I5nuq0s20Q/pubhtml,None,None,None,2022,A Court of Mist and Fury,Sarah J. Maas,Reasons Banned and challenged because it was claimed to be sexually \nexplicit
1,2545,2024-02-08 00:00:00,None,24,"Maas, Sarah J.",A Court of Mist and Fury,A Court of Thorns and Roses,None,None,Formal,...,None,None,https://ncac.org/news/over-150-books-have-been-restricted-at-st-tammany-parish-library-in-louisiana,https://lailluminator.com/briefs/northshore-book/,https://www.nola.com/news/northshore/st-tammany-library-board-to-return-all-books-to-shelves/article_c0d2276e-74f9-11ee-8892-dfaca601a4d8.html,None,2022,A Court of Mist and Fury,Sarah J. Maas,Reasons Banned and challenged because it was claimed to be sexually \nexplicit
2,2552,None,None,34,"Maas, Sarah J.",A Court of Mist and Fury,A Court of Thorns and Roses,None,None,Targeted During Board Meeting,...,Unknown,None,None,None,None,None,2022,A Court of Mist and Fury,Sarah J. Maas,Reasons Banned and challenged because it was claimed to be sexually \nexplicit
3,2554,2023-10-03 00:00:00,None,36,"Maas, Sarah J.",A Court of Mist and Fury,A Court of Thorns and Roses,None,None,Formal,...,Unknown,None,https://www.qcnews.com/news/u-s/north-carolina/catawba-county/catawba-county-schools-chooses-to-restrict-an-additional-book/,https://docs.google.com/spreadsheets/d/1t3g4jeRvZtX0e8g0qplRcBpJf0Ohr3oMQe52kBWGGVY/edit#gid=0,https://hickoryrecord.com/news/local/education/catawba-county-schools-book-challenges-court-of-mist-and-fury-and-lolita/article_8ee165b4-62b9-11ee-92f2-ef757bc739f9.html,None,2022,A Court of Mist and Fury,Sarah J. Maas,Reasons Banned and challenged because it was claimed to be sexually \nexplicit
4,2633,None,None,117,"Maas, Sarah J.",A Court of Mist and Fury,A Court of Thorns and Roses,None,None,Internal/Administrative Review,...,None,None,None,None,None,None,2022,A Court of Mist and Fury,Sarah J. Maas,Reasons Banned and challenged because it was claimed to be sexually \nexplicit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,14142,None,2024-01-08 00:00:00,11731,"Hopkins, Ellen",Tricks,Tricks,None,None,Internal/Administrative Review,...,None,None,https://www.orlandosentinel.com/2023/12/20/ocps-books/,https://truthout.org/articles/673-books-removed-from-orange-county-classrooms-to-comply-with-florida-laws/,None,None,2023,Tricks,Ellen Hopkins,"Reasons claimed to be sexually explicit, drugs, rape, LGBTQIA content"
815,14808,None,2024-01-31 00:00:00,12402,"Hopkins, Ellen",Tricks,Tricks,None,None,Internal/Administrative Review,...,None,None,https://docs.google.com/spreadsheets/d/e/2PACX-1vQOHdsNAcJypvqRboMOHmrzHRGrD323a5BKoLGTRK-0_hoi9N39prOkGP9qOUOLVWA0vF0KVNxYgBz-/pubhtml?gid=0&single=true,None,None,None,2023,Tricks,Ellen Hopkins,"Reasons claimed to be sexually explicit, drugs, rape, LGBTQIA content"
816,14833,None,2024-02-01 00:00:00,12427,"Hopkins, Ellen",Tricks,Tricks,None,None,Targeted in Board Meeting,...,None,None,https://www.firstcoastnews.com/article/news/education/nassau-county-school-district-removes-34-books-from-library-classroom-shelves-the-bluest-eye-the-hate-you-give/77-9c9b3d77-d6b6-4799-8a31-ced30609a19c,None,None,None,2023,Tricks,Ellen Hopkins,"Reasons claimed to be sexually explicit, drugs, rape, LGBTQIA content"
817,15037,2024-04-10 00:00:00,2024-02-05 00:00:00,13899,"Hopkins, Ellen",Tricks,Tricks,None,None,Internal/Administrative Review,...,None,None,https://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vQYTbmIdLgTxsPc6b6UxCYlb3ONhzXsUiE01qKGEUFIBYUOJIJ9L0NkI0mdTjkqoi3LxMtZJaA44qtc/pubhtml#,https://www.houstonpress.com/news/are-book-removals-flying-under-the-radar-at-local-area-school-districts-17387787,None,None,2023,Tricks,Ellen Hopkins,"Reasons claimed to be sexually explicit, drugs, rape, LGBTQIA content"
818,15291,2024-02-10 00:00:00,2023-09-23 00:00:00,14168,"Hopkins, Ellen",Tricks,Tricks,None,None,Formal,...,Unknown,None,PDF File,https://www.wzzm13.com/article/news/education/northview-public-schools-consider-removing-banning-8-books-from-schools/69-59fddab6-01bb-43ba-b13f-3e36cb2f7b2e,https://www.mlive.com/news/grand-rapids/2023/09/west-michigan-school-district-considering-ban-of-8-books.html,None,2023,Tricks,Ellen Hopkins,"Reasons claimed to be sexually explicit, drugs, rape, LGBTQIA content"

In [9]:
query3 = '''
SELECT * FROM el_list
JOIN ala_top_10_archive_clean
JOIN Public_State_Level_Data
WHERE el_list.state=Public_State_Level_Data.abbr
AND el_list.title=ala_top_10_archive_clean.title
AND el_list.year=ala_top_10_archive_clean.year
GROUP BY el_list.ID
'''
pd.read_sql_query(query3, conn)

,index,updated,entry,ID,author,title,series,co_author,illustrators,challenge_type,...,amerin_aknative,asian_apisland,hispanic,bk_aa,white,hi_pi,two_plus,students,teachers,st_ratio
0,2545,2024-02-08 00:00:00,None,24,"Maas, Sarah J.",A Court of Mist and Fury,A Court of Thorns and Roses,None,None,Formal,...,4053,11514,76396,298685,301421,600,25476,718145,41110.05,17.47
1,2552,None,None,34,"Maas, Sarah J.",A Court of Mist and Fury,A Court of Thorns and Roses,None,None,Targeted During Board Meeting,...,2899,8711,70048,95788,289783,4956,20945,493130,38814.62,12.7
2,2554,2023-10-03 00:00:00,None,36,"Maas, Sarah J.",A Court of Mist and Fury,A Court of Thorns and Roses,None,None,Formal,...,16214,61664,314590,382022,678903,2174,86155,1541722,99979.81,15.42
3,2633,None,None,117,"Maas, Sarah J.",A Court of Mist and Fury,A Court of Thorns and Roses,None,None,Internal/Administrative Review,...,6769,81036,1044109,601319,1014176,5043,118075,2870527,156787.43,18.31
4,2634,2024-02-20 00:00:00,None,118,"Maas, Sarah J.",A Court of Mist and Fury,A Court of Thorns and Roses,None,None,None,...,6636,11751,135877,9213,493295,11419,23632,691906,31163.98,22.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,1152,None,2024-05-30 00:00:00,16744,"Curato, Mike",Flamer,None,None,None,Unclear,...,6769,81036,1044109,601319,1014176,5043,118075,2870527,156787.43,18.31
810,1573,None,2024-06-02 00:00:00,16751,"Chbosky, Stephen",The Perks of Being a Wallflower,None,None,None,Formal,...,3279,94831,236141,272673,567343,1980,84104,1260351,92651,13.6
811,1579,None,2024-06-02 00:00:00,16757,"Hopkins, Ellen",Tricks,None,None,None,Formal,...,3279,94831,236141,272673,567343,1980,84104,1260351,92651,13.6
812,1581,None,2024-06-02 00:00:00,16759,"McCormick, Patricia",Sold,None,None,None,Formal,...,3279,94831,236141,272673,567343,1980,84104,1260351,92651,13.6
813,1583,None,2024-06-02 00:00:00,16761,"Morrison, Toni",The Bluest Eye,None,None,None,Formal,...,3279,94831,236141,272673,567343,1980,84104,1260351,92651,13.6

In [11]:
# Find books on el_list that are on ALA list with matching years
# Include geo and statistical data
query4 = '''
SELECT * FROM el_list
JOIN ala_top_10_archive_clean
JOIN Public_State_Level_Data
WHERE el_list.title=ala_top_10_archive_clean.title
AND el_list.year=ala_top_10_archive_clean.year
AND el_list.state IN
(
SELECT Public_State_Level_Data.abbr 
FROM Public_State_Level_Data
JOIN el_list
WHERE el_list.state=Public_State_Level_Data.abbr
)
GROUP BY el_list.ID
'''
pd.read_sql_query(query4, conn)

,index,updated,entry,ID,author,title,series,co_author,illustrators,challenge_type,...,amerin_aknative,asian_apisland,hispanic,bk_aa,white,hi_pi,two_plus,students,teachers,st_ratio
0,2545,2024-02-08 00:00:00,None,24,"Maas, Sarah J.",A Court of Mist and Fury,A Court of Thorns and Roses,None,None,Formal,...,6256,11083,79069,238400,389358,843,25914,750923,42021.62,17.87
1,2552,None,None,34,"Maas, Sarah J.",A Court of Mist and Fury,A Court of Thorns and Roses,None,None,Targeted During Board Meeting,...,6256,11083,79069,238400,389358,843,25914,750923,42021.62,17.87
2,2554,2023-10-03 00:00:00,None,36,"Maas, Sarah J.",A Court of Mist and Fury,A Court of Thorns and Roses,None,None,Formal,...,6256,11083,79069,238400,389358,843,25914,750923,42021.62,17.87
3,2633,None,None,117,"Maas, Sarah J.",A Court of Mist and Fury,A Court of Thorns and Roses,None,None,Internal/Administrative Review,...,6256,11083,79069,238400,389358,843,25914,750923,42021.62,17.87
4,2634,2024-02-20 00:00:00,None,118,"Maas, Sarah J.",A Court of Mist and Fury,A Court of Thorns and Roses,None,None,None,...,6256,11083,79069,238400,389358,843,25914,750923,42021.62,17.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,1152,None,2024-05-30 00:00:00,16744,"Curato, Mike",Flamer,None,None,None,Unclear,...,6256,11083,79069,238400,389358,843,25914,750923,42021.62,17.87
810,1573,None,2024-06-02 00:00:00,16751,"Chbosky, Stephen",The Perks of Being a Wallflower,None,None,None,Formal,...,6256,11083,79069,238400,389358,843,25914,750923,42021.62,17.87
811,1579,None,2024-06-02 00:00:00,16757,"Hopkins, Ellen",Tricks,None,None,None,Formal,...,6256,11083,79069,238400,389358,843,25914,750923,42021.62,17.87
812,1581,None,2024-06-02 00:00:00,16759,"McCormick, Patricia",Sold,None,None,None,Formal,...,6256,11083,79069,238400,389358,843,25914,750923,42021.62,17.87
813,1583,None,2024-06-02 00:00:00,16761,"Morrison, Toni",The Bluest Eye,None,None,None,Formal,...,6256,11083,79069,238400,389358,843,25914,750923,42021.62,17.87

In [13]:
# Create table of all books, schools from ala, el_list, public state level data
query5 = '''
CREATE TABLE mapped_bans
AS
SELECT * FROM el_list
JOIN ala_top_10_archive_clean
JOIN Public_State_Level_Data
WHERE el_list.state=Public_State_Level_Data.abbr
AND el_list.title=ala_top_10_archive_clean.title
AND el_list.year=ala_top_10_archive_clean.year
GROUP BY el_list.ID
'''

In [16]:
# Table of ban data by race
query6 = '''
CREATE TABLE bansbyrace
AS
SELECT *
FROM Enrollments_by_Race_Ethnicity
JOIN mapped_bans_final
WHERE Enrollments_by_Race_Ethnicity.school LIKE mapped_bans_final.NAME COLLATE NOCASE
GROUP BY mapped_bans_final.ID;
'''

In [17]:
# Table of ban data by grade
query7 = '''
CREATE TABLE bansbygrade
AS
SELECT *
FROM Enrollments_by_Grade
JOIN mapped_bans_final
WHERE Enrollments_by_Grade.school LIKE mapped_bans_final.NAME COLLATE NOCASE
GROUP BY mapped_bans_final.ID;
'''